/* footer.css */
@import url("./style.css");

ul {
	width: 100%;
	max-width: 1600px;
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
}

li {
	margin: 0;
	padding: 1em;
}

a {
	color: var(--color-black);
	background-color: var(--color-link);
}

a:hover {
	cursor: pointer;
	color: var(--color-white);
	background-color: var(--color-link-hover);
}
