@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
	--color-black: #1f1f1f;
	--color-white: #f5f5f5;
	--color-link: #d3d3ff;
	--color-prompt: #00FF00;
}

* {
	overflow-x: hidden;
}

ul, li, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

htlm {
	width: 100vw;
	height: 100vh;

	font-family: 'JetBrains Mono', monospace;
}

html, body, content, footer, div {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-black);
	color: var(--color-white);
	font-size: 1em;	
	line-height: 1.2em;
	letter-spacing: 0.1em;

	display: flex;
	flex-direction: column;
}

content {
	align-items: start;
	justify-content: start;
	padding: 1em;
	width: 100%;
}

footer {
	bottom: 0;
	align-items: center;
	justify-content: center;
	padding: 1em;
	width: 100%;

	position: fixed;
	display: flex;
	flex-direction: row;

	border-top: 1px solid #252525;
	background: transparent;
	backdrop-filter: blur(5em);
}
