/* terminal.css */
@import url("./style.css");

.terminal {
	margin: 0;
	padding: 0;
	align-items: start;
	justify-content: start;

	text-align: start;
	word-wrap: break-word;
	word-break: break-all;
}

span, input, response, blinker {
	margin: 0;
	padding: 0;
}

.prompt {
	color: var(--color-prompt);
}

.blinker {
	background: var(--color-white);
	color: var(--color-black);
	width: 1em;
	height: 1em;
}

.blinker.active {
	animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
