footer * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer p {
    color: rgb(80, 80, 80);
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

footer .foot-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.foot-container {
    text-align: center;
    border-top: var(--color-border-alpha) 0.3px solid;
    background-color: var(--color-background);
}

.foot-container p {
    margin: 0 auto;
}