@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Josefin+Slab:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&family=Major+Mono+Display&family=Sedgwick+Ave+Display&display=swap');

:root{
    --color-primary: #37515F;
    --color-secondary: #9a0b26;
    --color-text: #1F1F1F;
    --color-link: #5c4fec; 
    --color-link-hover: #3123c9;
    --color-danger: #F65C51;
    --color-success: #5A9367;
    --color-warning: #ff9800;
    --color-background: #F5F5F5;
    --color-header: #F5F5F5;
    --color-border: #4A6E82;
    --color-border-alpha: #46667850;

    --font-primary: 'Comfortaa', cursive;
    --font-style: 'Major Mono Display', monospace;
    --font-big: 'Sedgwick Ave Display', cursive;
    --font-small: 'Josefin Slab', serif;

    --default: 0;
    --transition: 0.3s ease-in-out;
    --transition-fast: 0.1s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: var(--font-primary);
    background-color: var(--color-background);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 1px var(--color-link);
    color: var(--color-link);
    transition: var(--transition);
}

a:hover{
    cursor: pointer;
    border-bottom: solid 1px transparent;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 700;
    font-size: 2.5rem;
}

h2{
    font-weight: 700;
    font-size: 2rem;
}

h3{
    font-weight: 700;
    font-size: 1.5rem;
}

h4{
    font-weight: 700;
    font-size: 1.25rem;
}

h5{
    font-weight: 700;
    font-size: 1rem;
}

small{
    font-size: 0.75rem;
}

p{
    color: var(--color-text);
    display: block;
    width: 90%;
    margin: 3% auto;
}

.primary{
    color: var(--color-primary);
}

.secondary{
    color: var(--color-secondary);
}

.success{
    color: var(--color-success);
}

.danger{
    color: var(--color-danger);
}

.warning{
    color: var(--color-warning);
}