:root {
  --font: "Inconsolata", monospace;
  --size: 1.2rem;
  --background: #1d1f21;
  --color: #ffffff;
  --color-secondary: #cccccc;
  --textblur: #C8C8C8;
  --selection-background: #ffffff;
  --selection-color: #000000;
  --cursor: #ffffff;
  --cursor-text: #000000;
  --cursor-blink: 1s;
  --cursor-width: 0.7rem;
  --cursor-height: 1.3rem;
}

html {
  width: 0;
  height: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;

  scrollbar-color: var(--color-secondary) transparent;
  scrollbar-width: 1rem;
}

body {
  margin: 0;
  padding: 1rem 0 2rem 1rem;
  width: calc(100vw - 3rem);
  height: auto;
  overflow: hidden;

  background: var(--background);
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  text-shadow: 0 0 3px var(--textblur);

  word-break: break-all;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
  text-shadow: none;
}

a {
  text-decoration: none;
  color: var(--cursor-text);
  background: var(--cursor);
  padding: 0 0.2rem;
  box-shadow: 0 0 3px var(--textblur);
}

a:hover {
  cursor: pointer;
}

.div {
  display: inline;
}

table {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
}

table th, table td {
  padding: 0.15rem 1rem;
  text-align: left;
}

tbody {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  white-space: break-spaces;
}

tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.07);
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.03);
}

.noTableBackground tbody tr:nth-child(odd) {
  background: transparent;
}

.noTableBackground tbody tr:nth-child(even) {
  background: transparent;
}

.fixedElement {
  padding: 1.5rem 1rem;
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.tableDescription {
  padding: .5rem 1rem;
  margin: 0;
  text-align: start;
}

.markdown {
  display: inline-block;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  background: rgba(255, 255, 255, 0.03);
  word-break: keep-all;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  margin: 0;
  padding: 0;
}

.tile {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
  font-weight: bold;
} 

.cursor {
  margin: 0;
  padding: 0;
  transform: translateY(.2rem);
  position: absolute;
  width: var(--cursor-width);
  height: var(--cursor-height);
  background: var(--cursor);
  color: var(--cursor-text);
  animation: blink var(--cursor-blink) infinite;
  box-shadow: 0 0 3px var(--textblur);
}

.cursor.write {
  animation: none;
}

.cursor.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.selectable {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.input {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color);
  font-family: var(--font);
  font-size: var(--size);
}

.input.hidden {
  display: none;
}

.session {
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--color-secondary);
  font-family: var(--font);
  font-size: var(--size);
  font-style: italic;
}

.session.hidden {
  display: none;
}

@media screen and (max-width: 1400px) {
  body {
    text-shadow: 0 0 2px var(--textblur);
  }
  a {
    box-shadow: 0 0 2px var(--textblur);
  }
  .cursor {
    box-shadow: 0 0 2px var(--textblur);
  }
}